In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.1'

## Definindo os Dados

In [3]:
dict_metrics = {"idade": [15,18,25,26,40,40,58,60],
                "altura": [160,165,149,168,172,174,174,178]}

In [4]:
type(dict_metrics)
#dict = dicionário

dict

In [5]:
df = pd.DataFrame(dict_metrics)

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df

   idade  altura
0     15     160
1     18     165
2     25     149
3     26     168
4     40     172
5     40     174
6     58     174
7     60     178

### Medidas de posição
- Média: Soma de todos os valores dividida pelo número de valores. Mais comum de tendência central, pode ser sensível a valores extremos
- Mediana: É o valor do meio quando os dados estão ordenados. Ela não sofre por valores externos.
- Moda: É o valor com mais repetições. É útil em dados categóricos ou quando deseja-se identificar valores com maior frequência.

In [8]:
df["idade"]

0    15
1    18
2    25
3    26
4    40
5    40
6    58
7    60
Name: idade, dtype: int64

In [9]:
#media idade
print(f"Média de idade: {df["idade"].mean()}")
#media altura
print(f"Média da altura: {df["altura"].mean()}")

Média de idade: 35.25
Média da altura: 167.5

In [ ]:
#mediana idade
print(f"Mediana de idade: {df["idade"].median()}")
#mediana altura
print(f"Moda de altura: {df["altura"].median()}")

Mediana de idade: 33.0
Moda de altura: 170.0

In [ ]:
#moda idade
print(f"Moda de idade: {df["idade"].mode()}")
#moda altura
print(f"Moda de altura: {df["altura"].mode()}")

Moda de idade: 0    40
Name: idade, dtype: int64
Moda de altura: 0    174
Name: altura, dtype: int64

### Medidas de Dispersão
- Variância: Média dos quadrados entre cada valor e a média. Informa a distância dos valores da média.
- Desvio Padrão: Raiz quadrada da variância. Expressa a dispersão em termos da mesma unidade dos dados.
- Coeficiente de variação: Desvio padrão dividido pela média, expresso em porcentagem. Indica a variabilidade relativa dos dados em relação a média.

In [12]:
#variância de idade
print(f"Variância de idade: {df["idade"].var()}")
#variância de altura
print(f"Variância de altura: {df["altura"].var()}")

Variância de idade: 296.2142857142857
Variância de altura: 88.57142857142857

In [13]:
#Desvio padrão de idade
print(f"Desvio padrão de idade {df["idade"].std()}")
#desvio padrão de altura
print(f"Desvio padrão de altura: {df["altura"].std()}")

Desvio padrão de idade 17.210876959477854
Desvio padrão de altura: 9.411239481143202

In [14]:
#Coeficiciente de variação de idade
df["idade"].std() / df["idade"].mean() * 100

np.float64(48.82518286376696)

In [15]:
#Coeficiciente de variação de altura
df["altura"].std() / df["altura"].mean() * 100

np.float64(5.618650436503405)

### Medidas de Forma (distribuição dos Dados)
- Assimetria: Indica o grau e direção da distorção da distribuição em relação a média. Se Positiva, indica a cauda direita a distribuição mais longa, o oposto, indica a causa esquerda mais longa
- Curtose: Mede o pico ou "pontuação" da distribuição. Uma curtose alta indica uma distribuição mais concentrada, o oposto indica a distribuição achatada

In [16]:
df

   idade  altura
0     15     160
1     18     165
2     25     149
3     26     168
4     40     172
5     40     174
6     58     174
7     60     178